<section class="bg-light text-center text-dark p-2 mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 mt-5">
      <div class="col-12 bg-light mb-4 rounded p-5">
        <img
          src="../assets/images/Largetransparent 2.svg"
          alt="footer logo"
          class="img-fluid my-2 ms-2"
        />
        <p><strong>Copyright WNL 2020</strong></p>
        <p>Established NG 2018</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 p-5">
      <div class="col-sm-6 col-md-6 col-lg-12 p-3 bg-light rounded text-start">
        <div class="col-sm-12 col-md-12 col-lg-12 bg-light p-1 text-dark mb-4">
          <ul class="nav justify-content-between">
            <li class="nav-item">
              <a
                class="nav-link disabled active text-dark"
                aria-current="page"
                routerLink="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-dark" routerLink="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-dark" routerLink="#">Email</a>
            </li>
            <button
              class="btn btn-outline-info font ms-3 border-light"
              routerLink=""
            >
              Get Started
            </button>
          </ul>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-12 bg-light p-1 text-dark mb-4 border-bottom"
        >
          <ul class="nav justify-content-between">
            <li class="nav-item">
              <a routerLink="" class="nav-link disabled text-dark"
                ><strong>Give us a Call</strong> +2234884447483 /
                +447023893280</a
              >
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <img
                  src="../assets/images/telegram 1.svg"
                  alt="telegram"
                  class="img-fluid ms-3"
                />
                <img
                  src="../assets/images/Object.svg"
                  alt="twitter"
                  class="img-fluid ms-3"
                />
                <img
                  src="../assets/images/Object (1).svg"
                  alt="facebook"
                  class="img-fluid ms-3"
                />
                <img
                  src="../assets/images/Object (2).svg"
                  alt="google"
                  class="img-fluid ms-3"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 bg-light p-1 text-dark mb-4">
          <ul class="nav justify-content-between">
            <li class="nav-item">
              <a routerLink="" class="nav-link disabled text-dark">Privacy</a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link disabled text-dark"
                >Terms of Use</a
              >
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link disabled text-dark"
                >WNL is a registered fintech broker, <br />
                Nigerian Financing License No.60DBO-68187</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
