<section class="bg-light text-center text-dark p-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="col-12 bg-warning mb-4 rounded p-5">Logo Side</div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9">
      <div class="col-12 p-3 bg-warning rounded">
        <div
          class="col-sm-12 col-md-12 col-lg-3 bg-dark rounded p-3 text-light mb-4"
        >
          First link
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-3 bg-dark rounded p-3 text-light mb-4"
        >
          Second link
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-3 bg-dark rounded p-3 text-light mb-4"
        >
          Third Link
        </div>
      </div>
    </div>
  </div>
</section>
