<!-- The navbar Section -->
<!-- The Content Section -->

<section class="bg-light text-dark p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5 text-start">
        <div class="col-12">
          <h1 class="font font-color">
            The best way <br />
            to <span class="text-info"> invest </span> in <br />
            Nigeria.
          </h1>
          <p class="mt-4 font p">
            We design investment products with risk mitigation <br />
            and return maximization in mind. You just invest and <br />
            earn we have you covered.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="col-12">
          <img
            class="img-fluid mt-2"
            src="../assets/images/amico.png"
            alt="amico image"
            width="75%"
          />
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
              <img
                src="../assets/images/58482354cef1014c0b5e49c0 2.svg"
                alt="master card"
                class="img-fluid mt-4"
              />
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
              <img
                src="../assets/images/unnamed (1) 2.svg"
                alt="visa card"
                class="img-fluid mt-5"
              />
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
              <img
                src="../assets/images/1280px-Amazon_Web_Services_Logo 2.svg"
                alt="aws card"
                class="img-fluid mt-5"
              />
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
              <img
                src="../assets/images/PCI-DSS 2.svg"
                alt="pci card"
                class="img-fluid mt-5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Send Money cards -->
<section class="bg-secondary text-dark p-3 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="text-center solid-style my-4">
        A solid platform <br />
        With security built in mind.
      </h2>
      <div class="row justify-content-center">
        <img
          src=" ../assets/images/wavy-7ff02f13569c9c84a7174f4fd2050300 1.svg "
          alt="wavy curve"
          class="img-fluid img-content mb-4"
        />
      </div>
      <div
        class="col-12 col-md-6 col-lg-3 mb-4 mt-4"
        *ngFor="let time of times"
      >
        <div class="card bg-secondary border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/Group.svg"
              class="card-img-top img-fluid w-25"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">{{ time.name }}</h5>
            <p class="card-text">
              {{ time.text }}
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-secondary border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/time 1.svg"
              class="card-img-top img-fluid w-25"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">Fast</h5>
            <p class="card-text">
              We deliver your funds in minutes 24/7 (even on weekends).
            </p>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-secondary border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/lock 1.svg"
              class="card-img-top image img-fluid"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">Reliable</h5>
            <p class="card-text">
              Trust us to deliver with our certified secure, encrypted and
              stable technology.
            </p>
          </div>
        </div>
      </div> -->
    </div>
    <app-sendmoney></app-sendmoney>
  </div>
</section>

<!-- How it works cards -->
<section class="bg-light text-light p-4 text-center">
  <div class="row">
    <h2 class="text-center solid-style my-4">How it Works</h2>
    <p class="text-center solid-style mt-1 fw-normal">
      IT'S SIMPLE, FAST AND EASY
    </p>
    <div class="row justify-content-center">
      <img
        src=" ../assets/images/wavy-7ff02f13569c9c84a7174f4fd2050300 1.svg "
        alt="wavy curve"
        class="img-fluid img-content mb-4"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5" *ngFor="let card of cards">
      <div class="bg-light border shadow border-light rounded text-dark">
        <div class="card border-light" style="max-width: 20rem">
          <div class="row justify-content-center">
            <div
              class="col-2 rounded-5 rounded-circle border p-2 mt-5 mb-3 text-light"
            >
              <h3 class="fs-4">{{ card.id }}</h3>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title solid-style">{{ card.name }}</h5>
            <p class="card-text">
              {{ card.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Atm card section -->
<section class="bg-secondary text-dark p-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="col-sm-12 col-md-12 col-lg-12 bg-secondary mb-4">
          <h1 class="fs-4 solid-style my-4">We are Safe!</h1>
          <p>
            Our industry-leading technology <br />
            and partners ensure that your <br />funds and data are safe.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 bg-secondary">
            <img
              src="../assets/images/58482354cef1014c0b5e49c0 1.svg "
              alt="master card"
              class="img-fluid"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-4 bg-secondary">
            <img
              src="../assets/images/unnamed (1) 1 (1).svg"
              alt="visa card"
              class="img-fluid"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-4 bg-secondary">
            <img
              src="../assets/images/1280px-Amazon_Web_Services_Logo 1.svg"
              alt="aws card"
              class="img-fluid"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mt-4 bg-light">
            <img
              src="../assets/images/PCI-DSS 2.svg"
              alt="pci card"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <img
      src=" ../assets/images/wavy-7ff02f13569c9c84a7174f4fd2050300 1.svg "
      alt="wavy curve"
      class="img-fluid img-content mb-4"
    />
  </div>
</section>

<section class="bg-light p-2 text-center">
  <div class="container">
    <div class="row">
      <h2 class="text-center solid-style my-4">Our customers don't lie!</h2>
      <p class="text-center solid-style mt-1 fw-normal">
        DONT TAKE OUR WORD, LISTEN TO REAL USERS
      </p>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-inner">
          <div class="carousel-indicators mt-5">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active bg-info"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
              class="bg-info"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
              class="bg-info"
            ></button>
          </div>
          <div class="row justify-content-center mt-4 mb-5">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div
                class="card border-light mb-3 carousel-item active"
                style="max-width: 18rem"
              >
                <div class="card-text">
                  <p class="text-start fw-light fs-6 fst-italic">
                    Easy to use, set it up myself in a few minutes. I also like
                    the fact that I can easily redo my frequent transactions
                  </p>
                </div>
                <div
                  class="card-body d-flex align-items-center justify-content-start"
                >
                  <img
                    src="../assets/images/Oval.svg"
                    alt="Ejiro"
                    class="img-fluid"
                  />
                  <p class="text-start ms-3">
                    <strong> Ejiro</strong> <br />
                    <span class="emphasized"> Limrick, Ireland</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div
                class="card border-light mb-3 carousel-item active"
                style="max-width: 18rem"
              >
                <div class="card-text">
                  <p class="text-start fw-light fs-6 fst-italic">
                    Trustworthy, the customer care was very helpful and I was
                    able to setup and have my money transferred
                  </p>
                </div>
                <div
                  class="card-body d-flex align-items-center justify-content-start"
                >
                  <img
                    src="../assets/images/Oval (1).svg"
                    alt="Tomiwa"
                    class="img-fluid"
                  />
                  <p class="text-start ms-3">
                    <strong>Tomiwa</strong> <br />
                    <span class="emphasized"> Carlifonia, United States</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- The Frequently Asked Question -->
<app-faq></app-faq>

<!-- The Footer Section -->
