@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

.font {
  font-family: "Mulish", sans-serif;
}

.text-info {
  color: #080f50 !important ;
}

.img-content {
  width: 15%;
}

.card-text {
  color: #000000;
  font-weight: 600;
  font-family: "Mulish";
  font-style: normal;
  font-size: 16px;
}

.rounded-circle {
  background: #080f50;
}

.image {
  width: 25%;
}

.bg-secondary {
  background: #fafafa !important ;
}

.bg-light {
  background: #fff !important ;
}

.font-color {
  color: #4f4f4f;
  font-size: 50px;
  font-weight: 700;
}

.solid-style {
  color: #3b1d69;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .font-color {
    font-size: 30px;
  }

  .p {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .font-color {
    font-size: 30px;
  }
}
