<!-- The navbar Section -->
<!-- The Content Section -->

<section class="bg-light text-dark p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5 text-start">
        <div class="col-12">
          <h1 class="font font-color">
            The best way <br />
            to <span class="text-info"> invest </span> in <br />
            Nigeria.
          </h1>
          <p class="mt-4 font p">
            We design investment products with risk mitigation <br />
            and return maximization in mind. You just invest and <br />
            earn we have you covered.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="col-12">
          <img
            class="img-fluid mt-2"
            src="../assets/images/amico.png"
            alt="amico image"
            width="75%"
          />
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <img
              src="../assets/images/58482354cef1014c0b5e49c0 2.svg"
              alt="master card"
              class="img-fluid mt-4"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <img
              src="../assets/images/unnamed (1) 2.svg"
              alt="visa card"
              class="img-fluid mt-5"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <img
              src="../assets/images/1280px-Amazon_Web_Services_Logo 2.svg"
              alt="aws card"
              class="img-fluid mt-5"
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
            <img
              src="../assets/images/PCI-DSS 2.svg"
              alt="pci card"
              class="img-fluid mt-5"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Send Money cards -->
<section class="bg-secondary text-dark p-2 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="text-center solid-style my-4">
        A solid platform <br />
        With security built in mind.
      </h2>
      <div class="row justify-content-center">
        <img
          src=" ../assets/images/wavy-7ff02f13569c9c84a7174f4fd2050300 1.svg "
          alt="wavy curve"
          class="img-fluid img-content mb-4"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/Group.svg"
              class="card-img-top img-fluid w-25"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">Easy</h5>
            <p class="card-text">
              Make your first transfer in less than 5 minutes
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/time 1.svg"
              class="card-img-top img-fluid w-25"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">Fast</h5>
            <p class="card-text">
              We deliver your funds in minutes 24/7 (even on weekends).
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-4">
        <div class="card bg-light border-light">
          <div class="col-12 text-start p-3">
            <img
              src="../assets/images/lock 1.svg"
              class="card-img-top image img-fluid"
              alt="thumbs up"
            />
          </div>
          <div class="card-body text-start">
            <h5 class="card-title solid-style">Reliable</h5>
            <p class="card-text">
              Trust us to deliver with our certified secure, encrypted and
              stable technology.
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-sendmoney></app-sendmoney>
  </div>
</section>

<!-- How it works cards -->
<section class="bg-light text-light p-2 text-center">
  <div class="row">
    <h2 class="text-center solid-style my-4">How it Works</h2>
    <p class="text-center solid-style mt-1 fw-normal">
      IT'S SIMPLE, FAST AND EASY
    </p>
    <div class="row justify-content-center">
      <img
        src=" ../assets/images/wavy-7ff02f13569c9c84a7174f4fd2050300 1.svg "
        alt="wavy curve"
        class="img-fluid img-content mb-4"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-light border shadow border-light rounded text-dark">
        <div class="card border-light mb-3" style="max-width: 18rem">
          <div class="row justify-content-center">
            <div
              class="col-2 rounded-5 rounded-circle border p-2 mt-5 mb-3 text-light"
            >
              <h3 class="fs-4">1</h3>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title solid-style">Create an Account</h5>
            <p class="card-text mb-4">
              Sign up online for free. All you need is an email address.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-light border shadow border-light rounded text-dark">
        <div class="card border-light mb-3" style="max-width: 18rem">
          <div class="row justify-content-center">
            <div
              class="col-2 rounded-5 rounded-circle border p-2 mt-5 mb-3 text-light"
            >
              <h3 class="fs-4">2</h3>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title solid-style">Set up Transfer</h5>
            <p class="card-text mb-4">
              Enter easy transfer details such as amount and recipient details.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-light border shadow border-light rounded text-dark">
        <div class="card border-light mb-3" style="max-width: 18rem">
          <div class="row justify-content-center">
            <div
              class="col-2 rounded-5 rounded-circle border p-2 mt-5 mb-3 text-light"
            >
              <h3 class="fs-4">3</h3>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title solid-style">Pay for transfer</h5>
            <p class="card-text mb-4">
              Send your money with a bank transfer, or a debit or credit card.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-light border shadow border-light rounded text-dark">
        <div class="card border-light mb-3" style="max-width: 18rem">
          <div class="row justify-content-center">
            <div
              class="col-2 rounded-5 rounded-circle border p-2 mt-5 mb-3 text-light"
            >
              <h3 class="fs-4">4</h3>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title solid-style">Relax</h5>
            <p class="card-text">
              We'll handle the rest. You can track your transfer in your account
              easily.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Atm card section -->
<section class="bg-warning text-light p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="col-sm-12 col-md-12 col-lg-5 p-5 bg-dark rounded mb-4">
          Why WNL
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4 p-5 bg-dark rounded">
            Logo card 1
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4 p-5 bg-dark rounded">
            Logo card 2
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4 p-5 bg-dark rounded">
            Logo card 3
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 mb-4 p-5 bg-dark rounded">
            Logo card 4
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white text-dark p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="bg-warning rounded p-5 mb-4">Sam</div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="bg-warning rounded p-5">Ejiro</div>
      </div>
    </div>
  </div>
</section>

<!-- The Frequently Asked Question -->
<section class="bg-dark text-center text-light p-2">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <p class="text-start h6 p-4">Frequently Asked Question</p>
        <div
          class="d-flex align-items-center justify-content-between border bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
          <div class="col-12 mb-4 bg-info rounded p-5">Text</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="col-12 mb-4 bg-info rounded p-5">Image</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Footer Section -->
