@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

.font {
  font-family: "Mulish", sans-serif;
}

.bg-secondary {
  background: #fafafa !important ;
}

.bg-light {
  background: #fff !important ;
}

.font-color {
  color: #4f4f4f;
  font-size: 50px;
  font-weight: 700;
}

.solid-style {
  color: #3b1d69;
  font-weight: 500;
}

.emphasized {
  font-style: italic;
}

.bg-info {
  background: #080f50 !important ;
}
