@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

.btn-primary {
  background: #080f50;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
}
