<!-- The navbar Section -->

<!-- The About-us Section -->
<section class="bg-dark text-light p-5 text-center">
  <div class="container">
    <div class="row">About Us</div>
  </div>
</section>

<!-- The Video Section -->
<section class="bg-light text-dark p-1 text-center">
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="col-12 bg-warning rounded p-5">Video Card</div>
    </div>
  </div>
</section>

<!-- The Investment Section -->
<section class="bg-info text-light p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-12 mb-4 bg-dark rounded p-5">Image</div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="col-12 mb-4 bg-dark rounded p-5">Text</div>
      </div>
    </div>
  </div>
</section>

<!-- Our Story Section -->
<section class="bg-light text-dark p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="col-12 mb-4 bg-info rounded p-5">Image</div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-12 mb-4 bg-info rounded p-5">Text</div>
      </div>
    </div>
  </div>
</section>

<!-- Our Partners Section -->
<section class="bg-dark text-light p-2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-12 mb-4 bg-info rounded p-5">Text</div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="col-12 mb-4 bg-info rounded p-5">
          <div class="row">
            <div class="col-6 bg-dark rounded p-3 mb-4">logo 1</div>
            <div class="col-6 bg-dark rounded p-3 mb-4">logo 2</div>
          </div>
          <div class="row">
            <div class="col-6 bg-dark rounded p-3 mb-4">logo 3</div>
            <div class="col-6 bg-dark rounded p-3 mb-4">logo 4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Organization and Investment Section -->

<section class="bg-light text-center text-dark p-2">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="col-12 mb-4 bg-info rounded p-5">Text</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="col-12 mb-4 bg-info rounded p-5">Text</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
          <div class="col-12 bg-info rounded p-5">Text</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="col-12 bg-info rounded p-5">Image</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Footer Section -->
