<!-- The navbar Section -->

<!-- The Content Section -->

<!-- The Why WNL Section -->
<section class="bg-dark text-light p-5 text-center">
  <div class="container">
    <div class="row">Why WNL</div>
  </div>
</section>

<!-- The Approach Section -->

<section class="text-dark text-center py-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="bg-light border shadow p-5 mb-4">
        The Traditional Approach
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="bg-light border shadow p-5">The WNL Approach</div>
    </div>
  </div>
</section>

<!-- Get Started -->
<section class="bg-light text-light p-4 text-center">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-dark border shadow rounded p-5">Card 1</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-dark border shadow rounded p-5">Card 2</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-dark border shadow rounded p-5">Card 3</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="bg-dark border shadow rounded p-5">Card 4</div>
    </div>
  </div>
</section>

<!-- Social Media Links -->
<section class="bg-secondary text-light p-5 text-center">
  <div class="container">
    <div class="row">Social Media Logo</div>
  </div>
</section>

<!-- The Footer Section -->
