<section class="bg-secondary text-center text-dark p-2">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <p class="text-start h6 p-4">Frequently Asked Question</p>
        <div
          class="d-flex align-items-center justify-content-between border bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div
          class="d-flex align-items-center justify-content-between border-bottom"
        >
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p>How safe is using WNL for my transfers?</p>
          <p>+</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5 mb-4 mt-5">
          <div class="col-12 mb-4 bg-secondary p-5 text-start">
            <h1 class="fs-4 solid-style my-4">
              Need help? <br />Just reach out.
            </h1>
            <div class="col-12 ms-4">
              <p class="fs-6 fw-light">
                <strong>
                  We are always available via phone and chat, our customers are
                  our MVP's and we have your back always. We have lots of
                  information in our app, but please reach out if you have more
                  questions.</strong
                >
              </p>
            </div>
            <p class="fw-normal fs-6">
              Call us on +2234884447483 / +447023893280
            </p>
            <p class="fw-normal fs-6">Email us @WNL.com</p>
            <p class="fw-normal fs-6">Use our 24/7 Live Chat System</p>
            <div class="row">
              <div class="col-3">
                <img
                  src="../assets/images/telegram 1.svg"
                  alt="telegram"
                  class="img-fluid ms-3"
                />
              </div>
              <div class="col-3">
                <img
                  src="../assets/images/Object.svg"
                  alt="twitter"
                  class="img-fluid ms-3"
                />
              </div>
              <div class="col-3">
                <img
                  src="../assets/images/Object (1).svg"
                  alt="facebook"
                  class="img-fluid ms-3"
                />
              </div>
              <div class="col-3">
                <img
                  src="../assets/images/Object (2).svg"
                  alt="google"
                  class="img-fluid ms-3"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7">
          <div class="col-12 bg-primary p-5">
            <img
              src="../assets/images/Group 5201.svg"
              alt="faq image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
